.dashboard-canvas {
    margin: 0;
    padding: 0;
}

.dashboard-canvas table {
    border-collapse: collapse;
}

.dashboard-grid {
    border: 1px dashed black;
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
}
