<div class="col-lg-12" ng-controller="EditorCtrl">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="nav-link dropdown-toggle text-dark mr-auto" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{selectedBoard.name}}</a>
        <div class="dropdown-menu">
            <a ng-repeat="board in boards" class="dropdown-item" href="#" ng-click="loadBoard(board.name)">{{board.name}}</a>
        </div>
        <button class="btn btn-flat" type="button" ng-click="addBoard()"><i class="fas fa-plus"></i> Add Board</button>
        <button class="btn btn-flat" type="button" ng-click="addPage()"><i class="fas fa-plus"></i> Add Page</button>
        <button class="btn btn-flat" type="button" ng-click="saveBoard()"><i class="fas fa-lg fa-save"></i></button>
    </nav>
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="form-inline">
                <div class="form-group mr-3">
                    <label class="mr-3">Name: </label>
                    <input class="form-control" type="text" ng-model="selectedBoard.name">
                </div>

                <div class="form-group mr-3">
                    <label class="mr-3">Device: </label>
                    <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{selectedBoard.device}}</a>
                    <div class="dropdown-menu">
                        <a ng-repeat="device in deviceTypes" class="dropdown-item" href="#" ng-click="setDeviceForBoard(device.name)">{{device.name}}</a>
                    </div>
                </div>

                <div class="form-group mr-3">
                    <label class="mr-3">Size: </label>
                    <input class="form-control" type="text" ng-model="selectedBoard.width" ng-disabled="!selectedBoard.customizable">
                    <label class="mr-3"> X </label>
                    <input class="form-control" type="text" ng-model="selectedBoard.height" ng-disabled="!selectedBoard.customizable">
                </div>


                <div class="form-group mr-3">
                    <label class="mr-3">Background: </label>
                    <select class="form-control" ng-model="selectedBoard.background" ng-default="'white'" style="width:100px;">
                        <option value="white">White</option>
                        <option value="black">Black</option>
                    </select>
                </div>

                <div class="form-group mr-3">
                    <label class="custom-control custom-switch">
                        <input type="checkbox" name="cbportrait" class="custom-control-input" ng-model="selectedBoard.portrait">
                        <span class="custom-control-label" for="cbportrait" ng-show="selectedBoard.portrait">Portrait</span>
                        <span class="custom-control-label" for="cbportrait" ng-show="!selectedBoard.portrait">Landscape</span>
                    </label>
                </div>


            </div>
        </div>
    </div>

    <div class="row justify-content-center" ng-repeat="page in selectedBoard.pages">
        <div class="card border-primary mb-3">
            <div class="card-header">
                <span>Page {{$index + 1}}</span>
                <div class="float-right">
                    <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus"></i> Add Widget</a>
                    <div class="dropdown-menu">
                        <a ng-repeat="widgetType in availableWidgets" class="dropdown-item" href="#" ng-click="newWidget(page, widgetType)">{{widgetType.name}}</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <dashboard-canvas ng-style="canvasStyle()"
                                    class="dashboard-bg-{{selectedBoard.background}}"
                                    items="page.widgets"
                                    width="selectedBoard.width"
                                    height="selectedBoard.height"
                                    on-edit="editWidget">
                </dashboard-canvas>
            </div>
        </div>
    </div>


    <script type="text/ng-template" id="editWidget.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title"><span ng-show="$ctrl.isNew">Add</span><span ng-show="!$ctrl.isNew">Edit</span> Widget - {{$ctrl.type.name}}</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="row">
                <div class="col-lg-6">
                    <form>
                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label">Label: </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="$ctrl.model.name">
                            </div>
                            <div class="col-sm-3">
                                <label class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" ng-model="$ctrl.model.show_label">
                                    <span class="custom-control-label">Show?</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Entity: </label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="$ctrl.model.entity" ng-options="entity.entity_id as entity.friendly_name for entity in $ctrl.entities"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Size: </label>
                            <div class="col-sm-6">
                                <div class="btn-group">
                                    <label class="btn btn-primary" ng-repeat="size in $ctrl.type.availableSizes" ng-model="$ctrl.model.size" uib-btn-radio="{{size.value}}">
                                        {{size.name}}
                                    </label>
                                </div>
                            </div>
                            <label class="col-sm-4 col-form-label">{{$ctrl.model.size.x}} X {{$ctrl.model.size.y}}</label>
                        </div>

                        <!-- Start custom settings for widget-->
                        <div class="form-group row" ng-repeat="option in $ctrl.type.options">
                            <label class="col-sm-2 col-form-label"><span ng-if="option.type != 'boolean'">{{option.name}}:</span></label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-if="option.type == 'select'"
                                        ng-options="val.value as val.display for val in option.values"
                                        ng-model="$ctrl.model[option.key]">
                                </select>
                                <label class="custom-control custom-switch" ng-if="option.type == 'boolean'">
                                    <input type="checkbox" class="custom-control-input" ng-model="$ctrl.model[option.key]">
                                    <span class="custom-control-label">{{option.name}}</span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Preview -->
                <div class="col-lg-6">
                    <widget-content type="$ctrl.type" config="$ctrl.model" class="editing_widget border-primary" editable="false">
                    </widget-content>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>

</div>
