<div class="weather-forecast weather-forecast-x-{{config.size.x}} weather-forecast-y-{{config.size.y}}">
    <div ng-repeat="day in value.attributes.forecast"  class="weather-forecast-day weather-forecast-day-{{$index}} text-center">
        <div class="row weather-forecast-dow">
            <div class="col-md-12">
                {{dow(day.datetime)}}
            </div>
        </div>
        <div class="row weather-forecast-conditions">
            <div class="col-md-12">
                <span class="wu wu-{{foregroundColor}} wu-{{iconSize}} wu-{{day.condition}}"></span>
            </div>
        </div>
        <div class="row weather-forecast-temps">
            <div class="col-md-12">
                H: {{day.temperature | number:0}}
            </div>
        </div>
        <div class="row weather-forecast-temps" ng-if="day.templow">
            <div class="col-md-12">
                L: {{day.templow | number:0}}
            </div>
        </div>
    </div>
</div>