.current-weather-conditions {
    font-size: 48px;
    line-height: 48px;
    float: left;
}

.current-temperature {
    font-size: 26px;
    line-height: 48px;
    float: left;
}

.current-weather-forecast {
    text-align: center;
    display: none;
    font-size: 16px;
    float: right;
    margin-right: 5px;
}
 
.current-weather-x-1 .current-weather-conditions {
    font-size: 16px;
    margin-top: 12px;
}


.current-weather-x-1 .current-temperature {
    font-size: 16px;
}

.current-weather-x-3 .current-weather-forecast {
    display: block;
}

.current-weather-x-5 .current-weather-forecast {
    display: block;
    font-size: 22px;
}

.current-weather-y-2 .current-weather-conditions {
    font-size: 96px;
    line-height: 96px;
    float: left;
}


.current-weather-y-2 .current-temperature {
    font-size: 54px;
    line-height: 96px;
    float: left;
}


.current-weather-y-2 .current-weather-forecast {
    height: 96px;
    margin-top: 12px;
}


.current-weather-y-3 .current-weather-conditions {
    font-size: 144px;
    line-height: 144px;
    float: left;
}


.current-weather-y-3 .current-temperature {
    font-size: 100px;
    line-height: 144px;
    float: left;
}

.current-weather-x-8 .current-weather-forecast {
    display: block;
    font-size: 48px;
}
