//@import "bower_components/bootstrap/less/bootstrap.less";
//@import "bower_components/bootstrap/less/theme.less";
//@import "bower_components/font-awesome/less/fontawesome.less";
//@fa-font-path: "bower_components/font-awesome/fonts";

@import "bower_components/angular-gridster/src/angular-gridster.less";

/* Component LESS */
@import "partial/editor/editor.less";
@import "partial/dashboard/dashboard.less";
@import "partial/testwidget/testwidget.less";
@import "directive/dashboardCanvas/dashboardCanvas.less";
@import "directive/dashboardViewer/dashboardViewer.less";
/* Add Component LESS Above */

body.dashboard-bg-black {
    background: black;
    color: white;
}

.dropdown-toggle::after {
    margin-left: 0.355em;
}

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.fade.in {
    opacity: 1 !important;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

.custom-switch {
    margin-top: 1.5rem;
}

.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}

/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
//.modal {
//	&.fade {
//		.transition(opacity .3s);
//	}
//	&.fade .modal-dialog {
//		.translate(0,0);
//	}
//}


/* WU icons mapping to HA */
/*@wu_img_path: "bower_components/weather-underground-icons/dist/icons/";*/
@wu_img_path: "icons/";

/*! Black Day SVG Icons */
.wu-black.wu-rainy { background: url("@{wu_img_path}/black/svg/rain.svg"); }
.wu-black.wu-windy { background: url("@{wu_img_path}/black/svg/hazy.svg"); }
.wu-black.wu-snowy { background: url("@{wu_img_path}/black/svg/snow.svg"); }
.wu-black.wu-snowy-rainy { background: url("@{wu_img_path}/black/svg/snow.svg"); }
.wu-black.wu-clear-night { background: url("@{wu_img_path}/black/svg/clear.svg"); }
/*.wu-black.wu-chanceflurries { background: url(icons/black/svg/chanceflurries.svg); }
.wu-black.wu-chancerain { background: url(icons/black/svg/chancerain.svg); }
.wu-black.wu-chancesleet { background: url(icons/black/svg/chancesleet.svg); }
.wu-black.wu-chancesnow { background: url(icons/black/svg/chancesnow.svg); }
.wu-black.wu-chancetstorms { background: url(icons/black/svg/chancetstorms.svg); }
.wu-black.wu-clear { background: url(icons/black/svg/clear.svg); }
.wu-black.wu-cloudy { background: url(icons/black/svg/cloudy.svg); }
.wu-black.wu-flurries { background: url(icons/black/svg/flurries.svg); }
.wu-black.wu-fog { background: url(icons/black/svg/fog.svg); }
.wu-black.wu-hazy { background: url(icons/black/svg/hazy.svg); }
.wu-black.wu-mostlycloudy { background: url(icons/black/svg/mostlycloudy.svg); }
.wu-black.wu-mostlysunny { background: url(icons/black/svg/mostlysunny.svg); }
.wu-black.wu-partlycloudy { background: url(icons/black/svg/partlycloudy.svg); }
.wu-black.wu-partlysunny { background: url(icons/black/svg/partlysunny.svg); }
.wu-black.wu-sleet { background: url(icons/black/svg/sleet.svg); }

.wu-black.wu-sunny { background: url(icons/black/svg/sunny.svg); }
.wu-black.wu-tstorms { background: url(icons/black/svg/tstorms.svg); }
.wu-black.wu-unknown { background: url(icons/black/svg/unknown.svg); }*/

/*! White Day SVG Icons */
.wu-white.wu-rainy { background: url("@{wu_img_path}/white/svg/rain.svg"); }
.wu-white.wu-windy { background: url("@{wu_img_path}/white/svg/hazy.svg"); }
.wu-white.wu-snowy { background: url("@{wu_img_path}/white/svg/snow.svg"); }
.wu-white.wu-snowy-rainy { background: url("@{wu_img_path}/white/svg/snow.svg"); }
.wu-white.wu-clear-night { background: url("@{wu_img_path}/white/svg/clear.svg"); }

/*.wu-white.wu-chanceflurries { background: url(icons/white/svg/chanceflurries.svg); }
.wu-white.wu-chancerain { background: url(icons/white/svg/chancerain.svg); }
.wu-white.wu-chancesleet { background: url(icons/white/svg/chancesleet.svg); }
.wu-white.wu-chancesnow { background: url(icons/white/svg/chancesnow.svg); }
.wu-white.wu-chancetstorms { background: url(icons/white/svg/chancetstorms.svg); }
.wu-white.wu-clear { background: url(icons/white/svg/clear.svg); }
.wu-white.wu-cloudy { background: url(icons/white/svg/cloudy.svg); }
.wu-white.wu-flurries { background: url(icons/white/svg/flurries.svg); }
.wu-white.wu-fog { background: url(icons/white/svg/fog.svg); }
.wu-white.wu-hazy { background: url(icons/white/svg/hazy.svg); }
.wu-white.wu-mostlycloudy { background: url(icons/white/svg/mostlycloudy.svg); }
.wu-white.wu-mostlysunny { background: url(icons/white/svg/mostlysunny.svg); }
.wu-white.wu-partlycloudy { background: url(icons/white/svg/partlycloudy.svg); }
.wu-white.wu-partlysunny { background: url(icons/white/svg/partlysunny.svg); }
.wu-white.wu-sleet { background: url(icons/white/svg/sleet.svg); }
.wu-white.wu-sunny { background: url(icons/white/svg/sunny.svg); }
.wu-white.wu-tstorms { background: url(icons/white/svg/tstorms.svg); }
.wu-white.wu-unknown { background: url(icons/white/svg/unknown.svg); }*/

.wu-22 {
    width: 22px;
    height: 22px;
}

.wu-32 {
    width: 32px;
    height: 32px;
}

.wu-48 {
    width: 48px;
    height: 48px;
}

.wu-96 {
    width: 96px;
    height: 96px;
}

.wu-144 {
    width: 144px;
    height: 144px;
}

@font-face {
    font-family: "Material Design Icons";
    src: url("fonts/materialdesignicons-webfont.eot?v=4.7.95");
    src: url("fonts/materialdesignicons-webfont.eot?#iefix&v=4.7.95") format("embedded-opentype"), url("fonts/materialdesignicons-webfont.woff2?v=4.7.95") format("woff2"), url("fonts/materialdesignicons-webfont.woff?v=4.7.95") format("woff"), url("fonts/materialdesignicons-webfont.ttf?v=4.7.95") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
